.fancyForm {
    margin: 0;
    padding: 0;
}

.fancyForm fieldset {
    clear: both;
    margin: 5px;
    padding: 0;
    border: #ccc 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.fancyForm legend {
    padding: 0 6px;
    margin: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}

.fancyForm > ul, .fancyForm > ol,
.fancyForm > fieldset > ul, .fancyForm > fieldset > ol {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.fancyForm > div, .fancyForm > fieldset > div,
.fancyForm > ul > li, .fancyForm > fieldset > ul > li,
.fancyForm > ol > li, .fancyForm > fieldset > ol > li {
    text-align: left;
    margin: 0;
    padding: 0 10px 10px;
    display: block;
    width: 100%;
    clear: both;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fancyForm .small {
    width: 50%;
    float: left;
    clear: none;
}

.fancyForm .clear {
    clear: both;
}

.fancyForm .formSubmitWrapper, .fancyForm .formButtonWrapper {
    padding-top: 15px;
}

.fancyForm .alignLeft {
    text-align: left;
}
.fancyForm .alignCenter {
    text-align: center;
}
.fancyForm .alignRight {
    text-align: right;
}

.fancyForm .left {
    float: left;
}
.fancyForm .right {
    float: right;
}

.fancyForm input, .fancyForm textarea, .fancyForm select, .fancyForm button, .fancyButton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    width: 100%;
    line-height: normal;
    display: block;
    vertical-align: middle;
    border: 1px solid;
    border-color: #999 #bbb #ddd;
    background: #fafafa;
    color: #666;
    background: -webkit-linear-gradient(top, rgb(239,239,239), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(top, rgb(239,239,239), rgb(255,255,255) 50%);
    background: linear-gradient(top, rgb(239,239,239), rgb(255,255,255) 50%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    padding: 5px;
    margin: 0;
/*    text-shadow: 0 1px 1px #fff;*/
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.fancyForm select {
    padding: 4px 5px;
}

.fancyForm input:hover, .fancyForm textarea:hover, .fancyForm select:hover, .fancyForm button:hover, .fancyButton:hover {
    border-color: #888 #aaa #ccc;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.fancyForm input:active, .fancyForm textarea:active, .fancyForm select:active, .fancyForm button:active,
.fancyForm input:focus, .fancyForm textarea:focus, .fancyForm select:focus, .fancyForm button:focus,
.fancyForm input[type=submit]:hover, .fancyForm button:hover, .fancyButton:focus, .fancyButton:active, .fancyButton:hover {
    outline: none;
    background-color: #f0f0f0;
    border-color: #666 #888 #aaa;
    -webkit-box-shadow: 0 0 5px rgba(0,96,255,0.8);
    -moz-box-shadow: 0 0 5px rgba(0,96,255,0.8);
    box-shadow: 0 0 5px rgba(0,96,255,0.8);
    background: -webkit-linear-gradient(top, rgb(223,223,223), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(top, rgb(223,223,223), rgb(255,255,255) 50%);
    background: linear-gradient(top, rgb(223,223,223), rgb(255,255,255) 50%);
    color: #000;
}

.fancyForm input[type=submit], .fancyForm button, .fancyButton {
    display: inline-block;
    width: auto;
    background: #fafafa;
    background: -webkit-linear-gradient(bottom, rgb(207,207,207), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(bottom, rgb(207,207,207), rgb(255,255,255) 50%);
    background: linear-gradient(bottom, rgb(207,207,207), rgb(255,255,255) 50%);
    cursor: pointer;
    text-decoration: none;
    border-color: #ddd #bbb #999;
}

.fancyForm input[type=submit]:hover, .fancyForm input[type=submit]:focus, .fancyForm button:hover, .fancyForm button:focus, .fancyButton:hover, .fancyButton:focus {
    background: #f0f0f0;
    background: -webkit-linear-gradient(bottom, rgb(191,191,191), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(bottom, rgb(191,191,191), rgb(255,255,255) 50%);
    background: linear-gradient(bottom, rgb(191,191,191), rgb(255,255,255) 50%);
    text-decoration: none;
    border-color: #ccc #aaa #888;
}

.fancyForm input[type=submit]:active, .fancyForm button:active, .fancyButton:active {
    background: #eee;
    background: -webkit-linear-gradient(top, rgb(191,191,191), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(top, rgb(191,191,191), rgb(255,255,255) 50%);
    background: linear-gradient(top, rgb(191,191,191), rgb(255,255,255) 50%);
    border-color: #aaa #888 #666;
}

.fancyForm input[type=radio]:focus + label, .fancyForm input[type=checkbox]:focus + label {
    text-decoration: underline;
}

.fancyForm option {
    background: none;
}

.fancyForm .invalid input, .fancyForm .invalid textarea, .fancyForm .invalid select, .fancyForm .invalid button {
    border-color: #f88 #faa #fcc;
}

.fancyForm .invalid input:hover, .fancyForm .invalid textarea:hover, .fancyForm .invalid select:hover {
    border-color: #f88 #faa #fcc;
    -webkit-box-shadow: 0 0  5px rgba(255,0,0,0.4);
    -moz-box-shadow: 0 0  5px rgba(255,0,0,0.4);
    box-shadow: 0 0  5px rgba(255,0,0,0.4);
}

.fancyForm .invalid input:focus, .fancyForm .invalid textarea:focus, .fancyForm .invalid select:focus {
    border-color: #f66 #f88 #faa;
    -webkit-box-shadow: 0 0  5px rgba(255,0,0,0.6);
    -moz-box-shadow: 0 0  5px rgba(255,0,0,0.6);
    box-shadow: 0 0  5px rgba(255,0,0,0.6);
}


.fancyForm label {
    display: block;
    padding: 3px 6px 0;
    font-size: inherit;
}

.fancyForm .formErrors {
    list-style: none;
    display: block;
    margin: 10px 5px 5px;
    padding: 6px 10px 3px;
    border: 1px solid;
    border-color: #fcc #faa #f88;
    background-color: #fee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.fancyForm .formError, .fancyForm .formErrors li {
    display: block;
    font-size: 12px;
    color: #f66;
    padding: 0 6px 3px;
}

.fancyForm .formErrors label {
    display: inline;
    padding: 0;
}
.fancyForm .formErrors span {
    font-weight: bold;
}

.fancyForm .formHiddenWrapper {
    display: none;
}

.fancyForm .formInfo {
    display: block;
    font-size: 11px;
    color: #999;
    padding: 3px 6px;
}

.fancyForm fieldset > .formInfo {
    padding: 3px 16px;
    margin: 0 0 5px;
}


.fancyForm .formCheckboxGroupWrapper ul, .fancyForm .formRadioWrapper ul {
    margin: 5px 0;
}

.fancyForm .formCheckboxWrapper li, .fancyForm .formCheckboxGroupWrapper li, .fancyForm .formRadioWrapper li {
    margin: 0;
    padding: 0;
    display: block;
    float: none;
}

.fancyForm .formCheckboxWrapper input, .fancyForm .formCheckboxGroupWrapper input, .fancyForm .formRadioWrapper input {
    display: inline;
    border: none;
    background: transparent;
    width: auto;
    padding: 0;
/*    vertical-align: bottom;*/
    margin: 0 0 3px 8px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fancyForm .formCheckboxWrapper {
    padding-top: 3px;
}
.fancyForm .formCheckboxWrapper label, .fancyForm .formCheckboxGroupWrapper ul label, .fancyForm .formRadioWrapper ul label {
    display: inline;
    width: auto;
    padding: 3px ;
}

/* alternative button styles */
.fancyForm input[type=submit].alt, .fancyForm button.alt, .fancyButton.alt {
    color: #666;
    border-color: #ddd #bbb #999;

    background: #fafafa;
    background: -webkit-linear-gradient(bottom, rgb(207,207,207), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(bottom, rgb(207,207,207), rgb(255,255,255) 50%);
    background: linear-gradient(bottom, rgb(207,207,207), rgb(255,255,255) 50%);
}

.fancyForm input[type=submit].alt:hover, .fancyForm input[type=submit].alt:focus, .fancyForm button.alt:hover, .fancyForm button.alt:focus, .fancyButton.alt:hover, .fancyButton.alt:focus {
    color: #000;
    border-color: #ccc #aaa #888;

    background: #f0f0f0;
    background: -webkit-linear-gradient(bottom, rgb(191,191,191), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(bottom, rgb(191,191,191), rgb(255,255,255) 50%);
    background: linear-gradient(bottom, rgb(191,191,191), rgb(255,255,255) 50%);

    -webkit-box-shadow: 0 0 5px rgba(0,96,255,0.8);
    -moz-box-shadow: 0 0 5px rgba(0,96,255,0.8);
    box-shadow: 0 0 5px rgba(0,96,255,0.8);
}

.fancyForm input[type=submit].alt:active, .fancyForm button.alt:active, .fancyButton.alt:active {
    color: #000;
    border-color: #aaa #888 #666;

    background: #eee;
    background: -webkit-linear-gradient(top, rgb(191,191,191), rgb(255,255,255) 50%);
    background: -moz-linear-gradient(top, rgb(191,191,191), rgb(255,255,255) 50%);
    background: linear-gradient(top, rgb(191,191,191), rgb(255,255,255) 50%);
}