form.minimvcInlineForm, form.minimvcInlineForm div {
    margin: 0;
    padding: 0;
    display: inline;
}

form.minimvcInlineForm button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    display: inline;
    cursor: pointer;
    font: inherit;
}

form.minimvcInlineForm button:hover, form.minimvcInlineForm button:focus {
    text-decoration: underline;
}